body{
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #48e2;
}

div,body{
    box-sizing: border-box;
}

nav,header,footer,aside,main{
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid black;
    background-color: #eee;
}

.grid{
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(200px,1fr) minmax(300px, 2fr) minmax(200, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    margin: auto;
    gap: 10px;
    padding: 10px;
    grid-template-areas:
    "nav main aside";
}

.grid{
    max-width: 1460px;
    margin: auto;
}

header{
    background-color: #48e;
    color: #fff;
    border-color: #48e;
    width: 100%;
    padding: 30px;
    text-align: center;
}

nav{
    grid-area: nav;
    min-width: 200px;
}

main{
    grid-area: main;
    min-width: 300px;
    max-width: 1200px;
}

aside{
    grid-area: aside;
    min-width: 200px;
}

footer{
    background-color: #000;
    color: #fff;
    width: 100%;
}

nav, aside{
    position: sticky;
    top: 0;
    height: 100vh;
    
}

@media screen and (max-width: 800px) {
    .grid{
        grid-template-columns: minmax(200px,1fr) minmax(300px, 3fr);
    }

    nav, aside{
        height: auto;
        position: sticky;
    }

    aside{
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .grid{
        grid-template-areas: 
        "nav"
        "main"
        "aside";
    }
}