.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
}

.contenedor{
    position: relative;
    border: 1px solid black;
    margin: 5px 25px;
}

#relative {
    position: relative;
    top: 20px;
    left: 20px;
    background: blue;
}

#absolute {
    position: absolute;
    top: 150px;
    left: 300px;
    background: blue;
}