body{
    margin: 0;
    font-family: sans-serif;
}

.flex{
    margin: 25px;
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 5px;
}

.flex-items{
    background-color: #f77;
    font-size: 32px;
    text-align: center;
    color: #FFF;
    flex: 1 1 100px;
}

.flex-items:nth-of-type(2n){
    background-color: #911;
}