.box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000ff;
    transition:
        width 2s,
    height 2s,
      background-color 2s,
      rotate 10s;
  }
  
  .box:hover {
    background-color: #ffcccc;
    width: 200px;
    height: 200px;
    rotate: 3000deg;
  }